* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}
.clear {
  clear: both;
}
#toolbar ul li,
#toolbar ul li a {
  background: transparent;
}
ul,
ol,
div.item-list ul {
  margin: 5px 0 5px 0;
  padding: 0;
}
ul li,
ul.menu li,
ul.links li,
.item-list ul li {
  background: url("../images/marker.png") no-repeat scroll 4px 9px transparent;
  list-style: none outside none;
  margin: 0 0 5px;
  padding: 0 0 0 15px;
}
ul.links li,
ul.contextual-links li {
  background: none;
  margin: 0 0 5px 0;
  padding: 0;
}
ol li {
  margin: 0 0 5px 30px;
}

.action-links {
  margin: 0 0 12px 0;
}

hr {
  background: #d7d7d7;
  border: none;
  height: 1px;
  margin: 20px 0 20px 0;
  padding: 0;
}

.block {
  margin: 0 0 30px 0;
}
fieldset {
  border: 1px solid #ebebeb;
}

input,
textarea {
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  font-family: Verdana;
  font-size: 12px;
  padding: 5px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#feed-icon {
  margin: 20px 0;
}

blockquote,
q {
  background: #ececec url('../images/left-quotes.png') no-repeat 14px 8px;
  border: 1px solid #d0d0d0;
  border-radius: 7px;
  margin: 5px 0;
  padding: 10px 20px 5px 50px;
  quotes: none;
  text-shadow: 1px 1px #fff;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

pre,
code {
  background: #ececec;
  border: 1px solid #d0d0d0;
  border-radius: 7px;
  display: block;
  margin: 5px 0;
  padding: 7px 20px;
  text-shadow: 1px 1px #fff;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.messages.status,
.messages.error,
.messages.warning {
  margin: 0 0 12px 0;
}

table {
  border-collapse: collapse;
  border-left: 1px solid #d0d0d0;
  border-spacing: 0;
  border-top: 1px solid #d0d0d0;
  margin: 0 0 15px 0;
  width: 100%;
}
th {
  background: #ececec;
}
th,
tr,
td {
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  padding: 5px 10px;
}


/* admin tabs
/*-------------------------------------------*/
.tabs.primary {
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 12px 0;
}
.tabs li {
  background: none;
  margin: 0;
  padding: 0;
}


.form-actions input {
  margin-right: 12px;
}

.node-teaser,
#front_content {
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 20px 0;
  padding: 0 0 15px 0;
}
#front_content h2 {
  font-size: 28px;
}

.node-teaser h2 {
  margin: 0 0 4px 0;
}
.submitted {
  color: #8a8a8a;
  font-size: 11px;
  margin: 0 0 10px 0;
}


#front_content img,
.field-type-image img {
  border: 1px solid #ebebeb;
  box-shadow: 3px 3px 2px  #bdbcbc;
  filter: "progid:DXImageTransform.Microsoft.Shadow(color='#bdbcbc',direction=135,strength=10)";
  float: left;
  margin: 0 20px 15px 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#BDBCBC,direction=135,strength=2)";
  -webkit-box-shadow: 3px 3px 2px  #bdbcbc;
}

.node-teaser .content.clearfix:after {
  content: none;
}

.node-teaser .field-name-field-tags {
  display: none;
}
.field-name-field-tags a {
  float: left;
  padding: 0 10px 0 0;
}

.comment {
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
}
#comments h2 {
  margin: 40px 0 16px 0;
}
#comments h3 {
  margin: 0 0 5px 0;
}
#comments .user-picture {
  float: left;
}
#comments .user-picture img {
  border: 1px solid #ebebeb;
  float: left;
  margin: 0 20px 15px 0;
  padding: 4px;
}
.comment-form .filter-wrapper {
  display: none;
}


/* search
/*-------------------------------------------*/
#block-search-form {
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#block-search-form .form-item-search-block-form {
  float: left;
  width: 150px;
}
#block-search-form .form-item {
  margin: 0;
}
#block-search-form #edit-search-block-form--2 {
  background: none;
  border: none;
  color: #8a8a8a;
  font-size: 11px;
  padding: 6px 12px 6px 12px;
}
.box ul,
.search-info,
.search-snippet,
#search-block-form label {
  display: none;
}

#block-search-form .form-submit {
  background: url('../images/search.png') no-repeat 0 0;
  border: none;
  cursor: pointer;
  display: block;
  height: 26px;
  overflow: hidden;
  padding: 0;
  text-indent: -500px;
  width: 22px;
}
.search-form label {
  font-weight: normal;
}

#left-list {
  float: left;
  width: 50%;
}
#right-list {
  float: right;
  width: 50%;
}

.f-left {
  float: left;
  margin: 0 15px 10px 0;
}
.f-right {
  float: left;
  margin: 0 0 10px 15px;
}
