.theme-default .nivoSlider {
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  box-shadow: none;
  margin-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.theme-default .nivo-controlNav {
  padding: 6px 0 6px 0;
}
.theme-default .nivo-controlNav a {
  background: url('../images/bullets.png') 0 -1px no-repeat;
}
.nivo-caption {
  background: #505050;
}
