html {
  background: #f5f5f5;
}
body {
  background: url('../images/bg-box.jpg');
  border-top: 5px solid #e32751;
  color: #666;
  font: 13px/1.6 "Helvetica", "Tahoma", "Trebuchet MS", "Arial", sans-serif;
  position: relative;
}

a {
  color: #8a8a8a;
}
a:hover {
  color: #b3b3b3;
  text-decoration: none;
}

p {
  margin: 0 0 12px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e32751;
  font-family: "Arial",  "Helvetica", sans-serif;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px 0;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 18px;
  margin: 0 0 16px 0;
}
h3 {
  font-size: 16px;
  margin: 0 0 14px 0;
}
h4 {
  font-size: 14px;
  margin: 0 0 12px 0;
}
h5,
h6 {
  font-size: 14px;
  margin: 0 0 12px 0;
}

h1 a,
h2 a,
h1 a:hover,
h2 a:hover {
  color: #e32751;
}

#page-wrapper {
  background: #fff;
  position: relative;
}

#header {
  background: url('../images/bg-box.jpg');
  border-bottom: 1px solid #ebebeb;
  height: 102px;
  margin: 0 auto;
  position: relative;
  width: 942px;
}
#header .section {
  background: #fff;
  height: 102px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#logo {
  float: left;
  margin: 12px 5px 12px 0px;
}
#sitename {
  float: left;
  margin: 30px 15px 0 20px;
}
#header h1 {
  font-size: 24px;
  margin: 0 0 6px 0;
}
#header h2 {
  font-size: 14px;
  font-style: italic;
}

#main-wrapper {
  margin: 0 auto;
  width: 1000px;
}
#main {
  padding: 0 30px 0 30px;
}

#slideshow {
  float: left;
  margin: 20px 0;
}

#slideshow .block {
  margin-bottom: 0;
}

#breadcrumb {
  background: url('../images/line2.png') left bottom no-repeat;
  font-size: 12px;
  margin: 0 0 25px 0;
  padding: 0 0 8px 0;
}
#breadcrumb a {
  text-decoration: none;
}

/* columns
/*-------------------------------------------*/
.column {
  float: left;
}
.col-1 .column {
  width: 100%;
}
.col-2 .column {
  width: 50%;
}
.col-3 .column {
  width: 33.3%;
}
.col-4 .column {
  width: 25%;
}

/* top columns
/*-------------------------------------------*/
#top-columns {
  margin: 25px auto 0 auto;
  padding-bottom: 10px;
}
#top-columns .block {
  background: #fafafa;
  border: 1px solid #fafafa;
  margin: 0 5px;
}
#top-columns h2 {
  background: #c5042f;
  color: white;
  font-size: 14px;
  margin-bottom: 0;
  padding: 9px 10px;
}
#top-columns .content {
  padding: 10px;
}
/* content
/*-------------------------------------------*/
/* 3 columns */
body.two-sidebars #content {
  float: left;
  width: 540px;
}

/* 2 columns */
body.sidebar-first #content,
body.sidebar-second #content {
  float: left;
  width: 740px;
}

/* sidebar-first */
#sidebar-first {
  float: left;
  width: 200px;
}

/* sidebar-second */
#sidebar-second {
  float: right;
  width: 200px;
}

#sidebar-first .section {
  border-right: 1px solid #ebebeb;
  padding: 20px 20px 40px 0;
}
#sidebar-second .section {
  border-left: 1px solid #ebebeb;
  padding: 20px 0 40px 20px;
}
#content {
  padding: 20px 0 40px 0;
}

body.two-sidebars #content .section {
  padding-left: 20px;
  padding-right: 30px;
}
body.sidebar-first #content .section {
  padding-left: 20px;
}
body.sidebar-second #content .section {
  padding-right: 30px;
}

#block-block-13 input {
  border: none;
}

/* bottom columns
/*-------------------------------------------*/
#bottom-columns {
  margin: 0 0 20px 0;
}
#bottom-columns .block {
  padding: 0 30px 0 0;
}

/* footer
/*-------------------------------------------*/
#footer-wrapper {
  background: #272f37;
  border-top: 1px solid #e9e9e9;
  color: #8a8a8a;
  font-size: 12px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
#footer-wrapper .section {
  margin: 0 auto;
  padding: 30px 0 20px 0;
  position: relative;
  width: 940px;
}

#footer-columns {
  margin: 0 0 10px 0;
}

#footer-columns .block {
  padding: 0 30px 0 0;
}

#footer-wrapper h2 {
  color: #e32751;
  font-size: 18px;
}

#copyright {
  float: left;
}
#developed {
  float: right;
}

.f-left,
.f-right,
#top-columns img,
#bottom-columns img {
  background: #fff;
  border: 1px solid #ebebeb;
  float: left;
  margin: 5px 10px 3px 0;
  padding: 5px;
}
input.form-submit {
  cursor: pointer;
}
input.form-submit:hover {
  opacity: 0.7;
}
.node-blog .links li a {
  margin: 0 5px;
}
.node-blog .links .first a {
  margin-left: 0;
}
